h1 {
	text-align: center;
	font-size: 30px;
}

body {
	font: 12px sans-serif;
}

<style>  
	.tooltip {     
		position: absolute;   
		width: 100px;   
		height: 50px;   
		pointer-events: none;   
	}  
</style>